:root {
    --second-color: #757575;
    --third-color: #2196F3;
    --fourth-color: #FFFFFF;
    --background: #F5F4FA;
    --background-color: #2F303A;
}

.body {
    font-family: 'Roboto', sans-serif;
    --color: #212121;
}

h1,
h2,
h3,
p, 
ul {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 94px 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Секция Header*/

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list-item {
    position: relative;
}

.header-list-item.line::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background: var(--third-color);
    border-radius: 2px;
    border: 1px solid #ECECEC;
    opacity: 0;
}

.header-list-item.line:hover::before {
    opacity: 1;
}

/*Логотип*/

.header-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--third-color);
}
.header-logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26 );
    letter-spacing: 0.03em;
    color: #000000;
}

/*Контакты*/

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0px;
}

.header-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--color);
}

.link:focus, 
.link:hover {
    color: var(--third-color);
}


.header-contacts {
    display: flex;
    margin-left: auto;
}

.email-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.tel-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.address-link {
    display: flex;
    align-items: center;
    color: var(--second-color);
}
    

.address-link:hover,
.address-link:focus {
    color: var(--third-color);
}


.icon {
    margin-right: 10px;
    fill: currentColor;
}


/*Секция hero*/

.hero {
    background: var(--background-color);
    padding: 200px 0;
    margin: auto;
    max-width: 1600px;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), 
    url("../image/overlay.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero-title {
    margin-bottom: 40px;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--fourth-color);
}

.hero-button {
    
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--fourth-color);
    background-color: var(--third-color);
    
}

.hero-button:hover{
    background-color: #188CE8;
}

.hero-button{
    cursor: pointer;
}


/*Секция Наши преимущества*/

.advantages {
    padding-bottom: 0;
}

.section-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    flex-basis: calc((100% - 90px) / 4);
}

.picture-icon::before {
    display: block;
    content: "";
} 

.picture-icon {
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
    padding: 25px 100px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color);
    margin-bottom: 10px;
    margin-top: 0;
}

.section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.do {
    padding-bottom: 94px;
}

.thumb {
    position: relative;

    display: flex;
    justify-content: center;
}

.label {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding-top: 27px;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
    background: rgba(47, 48, 58, 0.8);
}

.label-mob {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding-top: 27px;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
    background: rgba(47, 48, 58, 0.8);
}

.label-desing {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding-top: 27px;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
    background: rgba(47, 48, 58, 0.8);
}


.work {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color);
    margin-bottom: 50px;
}

.image {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.image-item {
    flex-basis: calc((100% - 60px) / 3);
}


/*Наша команда*/

.main-team {
    background: var(--background);
}


.team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.info-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.foto {
    margin-bottom: 30px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color);
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);
}

.team-blok {
    background: #FFFFFF;
    flex-basis: calc((100% - 90px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.info-team .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    
}

.info-team .social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px; 
}

.info-team .social-item:last-child {
    margin-right: 0;
}

.info-team .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    color: #AFB1B8;
}

.info-team .social-icon {
    fill: currentColor;
}

.info-team .social-link:hover,
.info-team .social-link:focus {
    color: var(--fourth-color);
    background-color: var(--third-color);
}


/*Постійні клієнти*/

.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color);
    margin-bottom: 50px;
}

.companies {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.companies-link {
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.company {
    fill: currentColor;
}

.companies-link:hover,
.companies-link:focus {
    color: var(--third-color);
    border: 1px solid var(--third-color);
}

.companies-item {

    flex-basis: calc((100% - 150px) / 6);
    justify-content: center;

}


/*Футер*/

.footer {
    background: var(--background-color);
}

/*Футер Logo*/

.footer-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}


/*Футер Адрес*/

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--fourth-color);
    margin-bottom: 9px;
    margin-top: 20px;

}

.footer-address-item > .list:hover{
    color: #2196F3;
}

.footer-address-item {
    margin-bottom: 9px;
    font-style: normal;
}

.footer-address-item:last-child{
    padding-bottom: 60px;
}

.footer-email {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-info {
    width: 231px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 70px;
}

.logo-address {
    padding-top: 60px;
    margin-right: 70px;
}

.footer-conteiner {
    display: flex;
}


.join {
    padding-top: 72px;
    padding-bottom: 100px;
}

.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.join-icons {
    display: flex;
    justify-content: center;
}

.join-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.join-item:last-child {
    margin-right: 0;
}

.join-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--fourth-color)
}

.join-icon {
    fill: currentColor;
}

.join-link:hover,
.join-link:focus {
    background-color: var(--third-color);
    color: var(--fourth-color)
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--fourth-color);
    transform: translateY(100px);
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 8px;
    right: 8px;
    background: var(--fourth-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    
}

/*Портфолио header*/

.portfolio-header-nav {
    display: flex;
    align-items: center;
}

.portfolio-header-list {
    display: flex;
    margin-left: 93px;
}

.portfolio-header-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-header-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--color);
}

/*Портфолио контакты*/

.portfolio-header-contacts {
    display: flex;
    margin-left: auto;
}

.portfolio-email-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}
 
.portfolio-tel-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.portfolio-header-list-item {
    position: relative;
}


.portfolio-header-list-item.line::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background: var(--third-color);
    border-radius: 2px;
    border: 1px solid #ECECEC;
    opacity: 0;
}

.portfolio-header-list-item.line:hover::before {
    opacity: 1;
}

/*Портфолио кнопки*/

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
   
}

.button-list {
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--color);
    background: var(--background);
}


.button-list:hover, 
.button-list:focus { 
    background-color: var(--third-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
    cursor: pointer;
}

/*Секция Проэкты*/


.portfolio-project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--color);
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.portfolio-project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding: 20px 24px;
}



.section-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.projects {
    flex-basis: calc((100% - 90px) / 3);
}

.projects:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.information {
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE; 
    border-right: 1px solid #EEEEEE;
}

/*--Анимация--*/
